* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 1000px;
    height: 600px;
    display: flex;
}

.page {
    position: absolute;
    inset: 0;
    background: rgb(101, 48, 16);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-page-wrapper {
    width: 300px;
}

.logo-wrapper {
    height: 200px;
    margin-bottom: 1rem;
}

.form-group {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    background: rgb(76, 35, 10);
    border: 2px solid rgb(124, 63, 24);
    color: #fff;
    border-radius: 0.25rem;
}

.form-control::placeholder {
    color: rgb(223, 223, 223);
}

.button-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.btn {
    width: 100%;
    height: 2.5rem;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 600;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: rgb(0, 141, 0);
    border: 1px solid rgb(0, 141, 0);
}

.btn-secondary {
    background: rgb(255, 246, 1);
    border: 1px solid rgb(255, 246, 1);
    color: rgb(101, 48, 16);
}

#canvas {
    border: 1px solid black;
}

.leaderboard {
    background: rgb(101, 48, 16);
    height: 100%;
    width: 200px;
}

/* button green: rgb(0,141,0) */
/* button yellow: rgb(255,246,1) */
